/* Variablen   bij examen Alexander Van den Broeck-----------------*/

// Beeldschermen


$breedscherm: 1140px ;


// kleuren

$accentkleur: #ff9933;
$white: white;
$zwart: black;
$achergrond: #2B363D;
$grijstext: grey;
$licht_grijs: #EFEFEF;
$donkere_achtergrond: #151B27;

// padding

$standaard_padding: 30px;
$kleine_padding:10px;